<p id="notice"><%= notice %></p>

<p>
  <strong>Line 1:</strong>
  <%= @shipping_address.line_1 %>
</p>

<p>
  <strong>Line 2:</strong>
  <%= @shipping_address.line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipping_address.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @shipping_address.province %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @shipping_address.zip_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @shipping_address.user %>
</p>

<%= link_to 'Edit', edit_shipping_address_path(@shipping_address) %> |
<%= link_to 'Back', shipping_addresses_path %>
